.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust min-width as needed */
    gap: 4px;
  }
  
  .image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
    max-width: 100%;
    border-radius: 8px;
  }
  
  /* Media Queries for Responsive Layouts (Optional) */
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust min-width as needed */
    }
  }
  
  @media (min-width: 992px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Adjust min-width as needed */
    }
  }
  