@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary: #2f5b75;
    --red: #752f2f;
    --green: #2f7535;
    --white: #f6f9f6;
    --grey: #dfdfdf;
    --black: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--primary);
    color: var(--white);
}

html,
body {
    font-family: "Teachers", sans-serif;
    font-weight: 400;
    background-color: var(--white);
    color: var(--black);
    cursor: var(--primary);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    margin: 5vh 10vw;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    margin: 10vh 5vw;
}

#search-input {
    position: fixed;
    top: 12%;
    z-index: 999;
    width: 80%;
    height: 4vh;
    padding: 10px;
    border: 1px dashed var(--primary);
    border-radius: 10px;
    background-color: var(--white);
    color: var(--black);
}

.credit,
.title {
    text-align: right;
    color: var(--black);
}

.credit {
    font-size: 20px;
    font-weight: 700;
}

.title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary);
}

ul a {
    display: block;
    font-weight: 700;
}

em {
    width: 100%;
    text-align: right;
    color: var(--primary);
    font-weight: 500;
    font-family: "Spectral", serif;
    font-style: normal;
}

.main h1 {
    margin-top: 25px;
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: var(--primary);
    font-weight: 500;
    font-family: "Spectral", serif;
    font-style: normal;
}

abbr {
    font-style: italic;
    color: var(--primary);
    text-decoration: none;
}

abbr[title] {
    cursor: help;
}

abbr[title]:hover::after {
    content: attr(title);
    position: absolute;
    z-index: 1;
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--grey);
    padding: 5px;
    font-size: 18px;
}


em::selection,
footer p::selection,
.intro h1::selection,
img::selection {
    background-color: var(--grey);
    color: var(--primary);
}

.header {
    border-bottom: 1px solid var(--grey);
}

.real {
    position: fixed;
    z-index: 1000;
    width: 100%;
    min-height: 10vh;
    padding: 2vh 10vw;
    background-color: rgba(237, 244, 255, 0.6);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2.5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.nav-item {
    /* margin-left: 15px; */
    padding: 5px 10px;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
    padding: 2px 0;
    border-radius: 2px;
    color: var(--primary);
    transition: 0.3s;
}

/* nav ul li:nth-child(n) .nav-link {
    border-bottom: 1px solid var(--red);
    color: var(--red);
}

nav ul li:nth-child(2n) .nav-link {
    border-bottom: 1px solid var(--green);
    color: var(--green);
}

nav ul li:nth-child(3n) .nav-link {
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
} */
/* styles.css */

/* Style for the notification bar */
.notification-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%;
    margin-top: 25px;
    z-index: 998;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the notification link */
.notification-link {
    /* width: 100%; */
    margin-left: 20px;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}

/* Style for the close button */
.close-btn {
    color: white;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

.close-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.nav-logo p:hover {
    transform: scale(1.05);
    border-width: 4px;
    transition: 0.1s;
}

.nav-link:hover {
    /* background-color: var(--primary); */
    border-top: 1px var(--primary) solid;
    border-bottom: 1px solid var(--primary);
    padding: 2px 10px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
}

/* hero styling */

.hero {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}

.hero img {
    margin: 25px;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    object-fit: cover;
}

.intro {
    /* width: 500px; */
    text-align: justify;
    font-size: 28px;
    color: var(--black);
}

.dictionaries {
    width: 100%;
    margin-top: 5vh;
}

.vidcard video,
.vidcard img,
.imgcard img {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.imgcard,
.vidcard {
    border: 2px dashed var(--primary);
    border-radius: 10px;
    padding: 25px;
    margin-top: 5vh;
    display: flex;
    gap: 3vh;
    text-align: justify;
    background-color: rgba(223, 223, 223, 0.07);
    backdrop-filter: blur(2px);
}


.imgctr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    /* Adjust gap as needed */
}

.imgctr div {
    border: 2px dashed var(--primary);
    border-radius: 10px;
    padding: 20px;
    margin-top: 2vh;
    display: flex;
    background-color: rgba(223, 223, 223, 0.07);
    backdrop-filter: blur(2px);
    width: 450px;
    height: 300px;
}

/* .imgctr div:hover{
    position: absolute;
    z-index: 999;
    background-color: rgba(223, 223, 223, 0.07);
    backdrop-filter: blur(2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
} */

.imgctr div img {
    width: 100%;
    height: 100%;
    /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 10px;
}


.linkcard {
    width: 550px;
    border: 2px dashed var(--primary);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: justify;
}

.imgcard:hover {
    z-index: 998;
    transform: scale(1.05);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.imgholder,
.cardholder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 5vh;
}

.links {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5vw;
    justify-content: center;
}


.pdfcard {
    max-width: 30vw;
    display: flex;
    flex-direction: column;
}

.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.pdftitle {
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: var(--primary);
    font-weight: 500;
    font-family: "Spectral", serif;
    font-style: normal;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vidcard .bookname,
.vidcard .bookreviewer {
    color: var(--primary);
}

.table-gap {
    height: 7vh;
    width: 100%;
    position: sticky;
    top: 9vh;
    background-color: var(--white);
    z-index: 998;
}

table {
    table-layout: fixed;
    width: 100%;
}

table td,
table th {
    font-size: smaller;
    border: 1px solid var(--primary);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(150px);
    line-height: 1.4;
    padding: 10px;
}

th {
    position: sticky;
    top: 15vh;
    background-color: rgba(66, 142, 124, 0.1);
    backdrop-filter: blur(15px);
    z-index: 998;
}

footer {
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    margin-top: 5vh;
    padding: 10px;
}

.syllabus {
    margin-top: 5vh;
    width: 100%;
    cursor: pointer;
}

.compbut,
.sylltitle {
    width: 100%;
    padding: 30px;
    background: var(--primary);
    color: var(--white);
    font-size: 40px;
    font-family: "Teachers", sans-serif;
    border: none;
    display: block;
    text-align: left;
}

.compbut a,
.sylltitle::after {
    display: block;
    color: var(--white);
}

.compbut a::after {
    content: "↗";
    float: right;
}

.sylltitle::after {
    content: "+";
    float: right;
}

.slide {
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
}

.slide li {
    padding: 30px;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0;
}

#touch:checked+.slide {
    height: calc(92px * 4);
}

@media (max-width: 375px) {
    .nav-logo p {
        visibility: hidden;
    }

    .compbut,
    .sylltitle {
        width: 100%;
        padding: 10px;
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .tableno {
        width: 0;
        opacity: 0;
    }

    .intro {
        text-align: left;
    }
}

@media (max-width: 1450px) {
    .linkcard {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 1350px) {
    .hero {
        flex-wrap: wrap-reverse;
    }
    .hero img {
        height: 300px;
        width: 100%;
        margin: 25px 0;
    }

    .imgcard {
        width: 100%;
        justify-content: center;
    }

    .imgholder {
        justify-content: center;
    }

    .nav-menu {
        flex-direction: column;
        position: fixed;
        top: 65px;
        right: -100%;
        z-index: 999;
        background-color: var(--primary);
        color: var(--white);
        opacity: 0.5;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        right: 0;
        opacity: 1;
    }

    .nav-link {
        font-size: 18px;
        font-weight: 600;
        color: #fffffff6;
    }

    .nav-link:visited {
        color: #fff;
    }

    .nav-item {
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .vidcard {
        flex-direction: column;
    }

    .vidcard .left video {
        width: 100%;
        height: 300px;
    }

    .vidcard .bookname,
    .vidcard .bookreviewer {
        font-size: 20px;
        font-weight: 600;
        color: var(--primary);
    }

    .vidcard .bookname {
        margin-bottom: 20px;
    }
}

/* loader */
.loader-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-logo {
    width: 100px;
    height: auto;
    margin: 0 auto;
    animation: logo 1.5s infinite cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes logo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

/* awards section magazine */

.award {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.award h4 {
    font-size: 25px;
    font-weight: 100;
    width: 800px;
    text-align: justify;
}

.awardimg {
    height: 250px;
    width: 400px;
    background-color: var(--primary);
}